pandas~=2.2.2
requests~=2.32.3
twilio~=9.3.2
python-dotenv~=1.0.1
bs4~=0.0.2
beautifulsoup4~=4.13.0b2
spotipy~=2.24.0
colorgram.py~=1.2.0
heroes~=1.0.2
villains~=1.0.3
selenium~=4.26.1
Flask~=3.1.0
Bootstrap_Flask==2.4.1
WTForms==3.2.1
Flask_WTF==1.2.2
Werkzeug==3.1.3