{% extends 'base.html' %}
{% block title %}Restaurants{% endblock %}

{% block content %}

<div class="container pt-4">
    <div class="row">
        <div class="col-sm-12">

            <h1>All Cafes</h1>

            <table class="table table-dark table-striped table-hover">
                <!-- This is where you will write the code to render a Bootstrap
                Table that contains all the information from the
                cafe-data.csv file. -->
                <thead>
                <tr>
                    {% for header in cafes[0] %}
                    <th scope="col">{{header}}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for row in cafes[1:]%}
                <tr>
                    {% for row_items in row%}
                    <td>{{row_items }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>

            </table>

            <p><a href="{{url_for('home')}}">Return to index page</a></p>

        </div>
    </div>
</div>

{% endblock %}
