<div class="container-fluid ">

<br>
    <div class="row" style="padding-left: 5%;">
        <div class="col-4 ">
            <h1 class="fw-bold">Hi, My Work-Experience  <span class="text-primary">Timeline</span></h1>
        </div>

        <div class="col-8 ">
            <div class="timeline-container">
                <div class="timeline-line"></div>

                <!-- Milestone 0 -->
                <div class="milestone left">
                    <div class="tooltip"><b> Current Role</b></div>
                    <div class="logo">
                        <img alt="LEAD Logo" src="https://www.logo.wine/a/logo/SanDisk/SanDisk-Logo.wine.svg">
                    </div>
                    <div class="content">
                        <h3>Principal Engineer</h3>
                        <p class="hover-item"><a class="text-decoration-none" href="https://www.westerndigital.com"
                                                 target="_blank">SanDisk Technologies Inc</a></p>
                        <p>Jan 2025 — Present</p>
                    </div>
                </div>

                <!-- Milestone 1 -->
                <div class="milestone left">
                    <div class="tooltip"><b>~ 6 Years</b></div>
                    <div class="logo">
                        <img alt="LEAD Logo"
                             src="https://www.westerndigital.com/content/dam/store/en-us/assets/home-page/brand-logos/header-main-logo.svg">
                    </div>
                    <div class="content">
                        <h3>Principal Engineer</h3>
                        <p class="hover-item"><a class="text-decoration-none" href="https://www.westerndigital.com"
                                                 target="_blank">Western Digital Technologies Inc</a></p>
                        <p>May 2018 — Dec 2024</p>
                    </div>
                </div>

                <!-- Milestone 2 -->
                <div class="milestone right">
                    <div class="tooltip">Graduated Dec 2017</div>
                    <div class="logo">
                        <img alt="Master's Program"
                             src="https://www.uhcl.edu/_resources/img/uhcl-logo-horizontal-color.svg">
                    </div>
                    <div class="content">
                        <h3>Master's in Computer Engineering</h3>
                        <p class="hover-item"><a class="text-decoration-none" href="https://www.uhcl.edu"
                                                 target="_blank">University of Houston Clear-Lake</a></p>
                        <p>Jan 2016 — Dec 2017</p>
                    </div>
                </div>

                <!-- Milestone 3 -->
                <div class="milestone left">
                    <div class="tooltip">1 Year ~4 Months</div>
                    <div class="logo">
                        <img alt="Exergy Logo" src="https://www.exergyheatingsolutions.com/img/logo.png">
                    </div>
                    <div class="content">
                        <h3>Engineer</h3>
                        <p class="hover-item"><a class="text-decoration-none"
                                                 href="https://www.exergyheatingsolutions.com/products.html"
                                                 target="_blank">Exergy Heating Solutions Pvt Ltd</a></p>
                        <p>Apr 2014 - Dec 2015</p>
                    </div>
                </div>

                <!-- Milestone 4 -->
                <div class="milestone left">
                    <div class="tooltip">~ 10 Months</div>
                    <div class="logo">
                        <img alt="Kaynes-Logo" src="{{url_for('static', filename='/assets/KaynesLogoNew.svg')}}">
                    </div>
                    <div class="content">
                        <h3>Engineer</h3>
                        <p class="hover-item"><a class="text-decoration-none" href="https://www.kaynestechnology.co.in"
                                                 target="_blank">Kaynes Technology Pvt Ltd</a></p>
                        <p>Apr 2014 - Dec 2015</p>
                    </div>
                </div>

                <!-- Milestone 5 -->
                <div class="milestone right">
                    <div class="logo">
                        <img alt="Graduation" src="{{url_for('static', filename='/assets/Kongu.svg')}}">
                    </div>
                    <div class="content">
                        <h3>Bachelor's in Engineering (ECE)</h3>
                        <p class="hover-item"><a class="text-decoration-none" href="https://www.kongu.ac.in"
                                                 target="_blank">Kongu Engineering College</a></p>
                        <p>Aug 2009 - Jun 2013</p>
                    </div>
                    <div class="tooltip">Graduated in Jun 2013</div>
                </div>
            </div>
        </div>

    </div>

</div>
