<div class="container my-4 divider-container">
    <div class="row border-end">
        <div class="col-3 border-end py-3">
            <h6 class="fw-bold mb-3">Web Apps</h6>
            <ul>
                <li> Tools web App</li>

            </ul>
        </div>
        <div class="col-3 border-end py-3 ">
            <h6 class="fw-bold mb-3 ">AI Apps</h6>
        </div>
        <div class="col-3 border-end py-3 ">
            <h6 class="fw-bold mb-3 ">Standalone Apps</h6>
            <ul>
                <li> Budget Analyser</li>
                <li> US state Guessing Game</li>
            </ul>
        </div>
        <div class="col-3 border-end py-3 ">
            <h6 class="fw-bold mb-3">Mobile Apps</h6>
            <ul>
                <li> G-App (Android only)</li>

            </ul>

        </div>
    </div>
    <div class="row border-end">
        <div class="col-3 border-end py-3">
            <h6 class="fw-bold mb-3">Embedded Systems</h6>
            <ul>
                <li> Tools web App</li>

            </ul>
        </div>
        <div class="col-3 border-end py-3 ">
            <h6 class="fw-bold mb-3 "> Internet of things (IOT)</h6>
        </div>

        </div>
    <div class="row border-end">
        <div class="col-12 py-3">
            <h5 class = "fw-bold mb-3 "><a href="https://github.com/your-organization" target="_blank" class="text-dark">
                    <i class="fab fa-github fa-2x"></i>InnovBotics Labs
                </a></h5>
                    <h6>Innovate | Automate | Transform</h6>
                Founded by Prabhukumar Sivamoorthy, InnovBotics is a creative space for innovation and hobby-driven projects. Specializing in robotics, AI, IoT, and automation,
    we develop cutting-edge solutions that merge technology with real-world applications
        </div>
    </div>

</div>



